<template>
  <div class="flex flex-row justify-center mb-4 flex-wrap">
    <div v-for="category in categories" v-bind:key="category.id">
      <p
        v-if="focus==category.id"
        class="mx-1 px-2 text-white rounded-full text-xs bg-red-900 mb-1"
      >{{ category.title }}</p>
      <p
        v-else
        class="mx-1 px-2 bg-gray-900 text-white rounded-full text-xs transform duration-500 hover:scale-110 hover:bg-red-900 mb-1"
      >
        <NuxtLink :to="'/categories/'+category.id">{{ category.title }}</NuxtLink>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: ["categories", "focus"]
};
</script>