<template>
  <main class="flex flex-col">
    <CategoryList :categories="categories" :focus="category_id" />
    <div v-if="products.length==0" class="text-center">Aucun produit disponible dans cette catégorie actuellement</div>
    <ProductList :products="products"/>
  </main>
</template>

<script>
import axios from "axios";

export default {
  validate({ params }) {
    return !isNaN(+params.id);
  },
  async asyncData({ params, error }) {
    try {
      const categories = await axios.get(
        "https://vapara.mithril.re/categories"
      );
      const products = await axios.get(
        `https://vapara.mithril.re/categories/${+params.id}/products`
      );
      return {
        products: products.data,
        categories: categories.data,
        category_id: params.id
      };
    } catch (e) {
      error({ message: "Category not found", statusCode: 404 });
    }
  }
};
</script>