<template>
  <div class="flex flex-col items-stretch">
    <div class="product flex flex-col sm:flex-row justify-around sm:mx-2 md:mx-16 lg:mx-32 xl:mx-64">
      <div class="flex flex-col flex-1 m-4 p-6 bg-white rounded-lg shadow-xl items-center justify-between">
        <div class="flex justify-center flex-1 items-center"> 
          <img v-if="product.images[0]" class="w-auto" v-bind:src="'https://vapara.mithril.re' + product.images[0]">
          <img v-else class="w-64" src="~/assets/no_image.svg" />
        </div>
        <div v-if="product.images[1]" class="flex flex-row justify-around flex-wrap mt-5">
          <div v-for="image in product.images" v-bind:key="image">
            <a :href="'https://vapara.mithril.re' + image" target="_blank">
              <img class="h-16 mx-2" v-bind:src="'https://vapara.mithril.re' + image">
            </a>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-1 m-4 p-6 bg-white rounded-lg shadow-xl items-center just">
        <h2 class="text-xl mb-12 font-bold text-center">{{ product.title }}</h2>
        <p v-html="product.description"></p>
        <a v-if="product.url_supplier" :href="product.url_supplier" class="mt-4 text-red-900" target="_blank">Documentation constructeur</a>
        <div class="flex flex-row justify-center mt-12">
          <div class="bg-gray-900 text-white w-16 pl-2 pt-1 rounded-tl-lg">Réf</div>
          <div class="bg-gray-300 w-56 text-center pt-1 rounded-tr-lg">{{ product.ref }}</div>
        </div>
        <div class="flex flex-row justify-center">
          <div class="bg-gray-900 text-white w-16 pl-2">Stock</div>
          <div class="bg-gray-300 w-56 text-center">{{ product.stock }}</div>
        </div>
        <div class="flex flex-row justify-center">
          <div class="bg-gray-900 text-white w-16 pl-2">Etat</div>
          <div v-if="product.second_hand" class="bg-gray-300 w-56 text-center">Occasion</div>
          <div v-else class="bg-gray-300 w-56 text-center">Neuf</div>
        </div>
        <div class="flex flex-row justify-center">
          <div class="bg-gray-900 text-white w-16 pl-2 pb-1 rounded-bl-lg">Prix</div>
          <div class="bg-gray-300 w-56 text-center pb-1 rounded-br-lg font-bold">{{ product.price | toJune }}</div>
        </div>
        <div class="flex flex-row justify-center my-12">
          <input v-if="product.stock>0" type='number' min="1" :max="product.stock" v-model="qte" class="rounded-l-lg border-gray-900 border-2 text-center w-16"></input>
          <a v-if="product.stock>0" v-bind:href="'mailto:mail@mithril.re?subject=Commande - ' + product.ref + '&body=Je souhaiterai commander ' + qte + ' unité de ' + product.ref" class="px-4 py-1 bg-red-900 rounded-r-lg text-white font-bold">Commander</a>
          <a v-else class="text-red-900">Rupture de stock</a>
        </div>
      </div>
    </div>  
    
  </div>
</template>

<script>
import axios from 'axios'

export default {
  validate ({ params }) {
    return !isNaN(+params.id)
  },
  async asyncData({ params, error }) {
    try {
      const { data } = await axios.get(`https://vapara.mithril.re/products/${+params.id}`)
      return { product: data }
    } catch (e) {
      error({ message: 'Product not found', statusCode: 404 })
    }
  },
  data() {
    return {
      qte: 1
    }
  }
}
</script>
