<template>
  <main class="flex flex-col">
    <CategoryList :categories="categories"/>
    <ProductList :products="products"/>
  </main>
</template>

<script>
import axios from 'axios'

export default {
  async asyncData() {
    const categories = await axios.get('https://vapara.mithril.re/categories')
    const products = await axios.get('https://vapara.mithril.re/products')
    return { products: products.data, categories: categories.data }
  }
}
</script>