<template>
  <main class="flex flex-col">
    <h2 class="text-center text-2xl">Mentions légales</h2>
    <p class="text-center">Le site boutik.mithril.re présente du matériel et des services informatiques fournit par la société Mithril Informatique.</p>
    <p class="text-center">Responsable de publication : Mithril Informatique</p>
    <p class="text-center">Hébergement : Mithril Informatique, 5B rue Paul Demange, 97480 Saint-Jsoeph, Ile de la Réunion</p>
    <p class="text-center">SIRET : 50820873300016</p>
    <p class="text-center">APE: 9511Z</p>
    <p class="text-center">RCS/RM: RCS Saint-Piere de la Réunion / RM 974</p>
  </main>
</template>
